<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taan.hasani.moein.volley">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.taan.hasani.moein.guess_it.appcontroller.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Guess it !"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme2">
        <activity
            android:name="com.taan.hasani.moein.guess_it.game_menu.Loading"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.taan.hasani.moein.guess_it.game_menu.Entrance_signup_login"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taan.hasani.moein.guess_it.game_menu.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taan.hasani.moein.guess_it.game_menu.SignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taan.hasani.moein.guess_it.game_play.single_Player"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme2" />
        <activity
            android:name="com.taan.hasani.moein.guess_it.game_menu.Main_menu"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme2"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.taan.hasani.moein.guess_it.game_play.two_player"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taan.hasani.moein.guess_it.game_play.categories_twoPlayer"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taan.hasani.moein.guess_it.game_play.categories_singlePlayer"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taan.hasani.moein.guess_it.game_menu.addNewWord"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taan.hasani.moein.guess_it.game_play.playerGame_loading"
            android:label="@string/title_activity_game_loading"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>